.barchart-container {
  /* min-width: 700px;
   min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;*/
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}
body {
  background: rgba(50, 50, 58, 1);
}
text {
  font-size: 1.5rem;
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;

  font-size: 16px;
}

section.artists ul li {
  list-style-type: none;
  font-size: 2em;
  padding: 10px;
}
section.artists {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}
div#app {
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}
section.artists {
  text-align: center;
  flex: 1;
}

section.artists ul:nth-child(1) {
  flex: 1;
}
section.artists ul:nth-child(2) {
  flex: 2;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  color: #f4f4f3;
  line-height: 1.2em;
  margin-bottom: 0px;
  margin-top: 150px;
}
section.barchart-container {
  padding: 50px;
}
section.barchart-container {
  display: flex;
  flex-direction: column;
}

section.barchart-container * {
  flex: 1;
}

section.barchart-container .content h1 {
  margin-top: 0px;
}
p {
  color: #f4f4f3;
}
.node {
  font-size: 16px;
  fill: rgba(244, 244, 243, 0.75);
  transition: 0.3s all;
  cursor: pointer;
}

.node:hover {
  fill: rgba(244, 244, 243, 1);
}

.link {
  stroke: rgba(212, 108, 158, 1);
  stroke-opacity: 0.2;
  fill: none;
  pointer-events: none;
  transition: 0.3s all;
}

.node:hover,
.node--source,
.node--target,
.node--active {
  font-weight: 600;
}

.node--source {
  fill: rgb(144, 223, 193);
}

.node--target,
.node--active {
  fill: #eb9393;
}

svg.edge-bundle {
  animation-fill-mode: forwards;
  animation: fade;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.link--source,
.link--target,
.link--active {
  stroke-opacity: 0.8;
  stroke-width: 2px;
}

.link--source,
.link--active {
  stroke: #eb9393;
}

.link--target {
  stroke: rgb(144, 223, 193);
}

div#app {
  position: relative;
}

video {
  position: absolute;
  top: 0;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 0.2;
  filter: grayscale(1);
}

section.barchart-container {
  z-index: 1;
}

section.artists {
  z-index: 1;
}
.test {
  background: #cf81b7;

  background: #cae7dc;

  background: #696781;

  background: #f4faf8;

  background: #b9228f;
}
#loader {
  color: rgba(212, 108, 158, 1);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}
.axis text {
  font-size: 13px;
}
.bar {
  fill: #8cd3dd;
}
.bar:hover {
  fill: #f56c4e;
}
.chart svg text.label {
  fill: white;
  font: 15px;
  font-weight: 400;
  text-anchor: middle;
}
.chart {
  min-width: 531px;
}
body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("/src/assets/gridtile.png");
  background-size: cover;
}
